@font-face {
  font-family: 'header-font';
  src: url("fonts/EncodeSansExpanded-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'body-font';
  src: url("fonts/EncodeSansExpanded-Regular.ttf") format('truetype');
}

/***
 -  site wide settings - adapted from P02 rewind
***/

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 0.9rem;
}

h1, h2, h3, h4 {
  font-family: 'header-font', sans-serif;
  letter-spacing: 0.13rem;
  margin: 0;
}

h1 {
  font-size: 1.7rem;
  letter-spacing: 0.4rem;
  margin-top: 15%;
  margin-bottom: 1.3rem;
  box-shadow: 0 8px 6px -8px black;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  box-shadow: 0 8px 6px -8px black;
}

p {
  font-family: 'body-font', sans-serif;
  line-height: 1.6rem;
}

figcaption {
  font-family: 'body-font', sans-serif;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

figure {
  margin-bottom: 7rem;
  margin-left: 0;
  margin-right: 0;
}

/***
Structuring
***/

section, .flex-display {
  display: flex;
  flex-direction: column;
}

.flex-display {
  align-items: center;
}

.hero {
  height: 75vh;
}

.full {
  height: 100vh;
}

.con70 {
  width: 90%;
}

.con40 {
  width: 90%;
}

.textcent {
  text-align: center;
}

.botmarg {
  margin-bottom: 7rem;
}

.topmargphone {
  margin-top: 11rem;
}

.lineup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lineup-cent {
  display: flex;
  justify-content: center;
}

.icon {
  width: 28%;
}

.headicon {
  width: 10rem;
  border-radius: 2rem;
}

.homeicon {
  width: 3rem;
}

.round {
  border-radius: 1.5rem;
}

/***
container and font colour styling
***/

.shadwhi {
  box-shadow: 0 8px 6px -4px white;
}

.shadwhitxt {
  box-shadow: 0 8px 6px -8px white;
}

.shadblk {
  box-shadow: 0 8px 6px -4px black;
}

.fontcol1 {
  color: #595959;
}

.fontcol2 {
  color: #e8e8e8;
}

.bg1 {
  background-color: #e8e8e8;
}

.bg1:hover, .bg1:active, .bg1:focus {
  background-color: #FF3F4C;
}

.bg2 {
  background-color: #595959;
}

.bg2:hover, .bg2:active, .bg2:focus {
  background-color: #5BC0EB;
}

.bg3 {
  background-color: #e8e8e8;
}

.bg3:hover, .bg3:active, .bg3:focus {
  background-color: #FDE74C;
}

.bg1z {
  background-color: #e8e8e8;
}

.cyanbg {
  background-color: #5BC0EB;
  height: 100%;
}

.yellbg {
  background-color: #FDE74C;
  height: 100%;
}

#linkedin:hover, #linkedin:active, #linkedin:focus {
  background-color: #FDC5F5;
}

#flckr:hover, #flckr:active, #flckr:focus {
  background-color: #AFEDB7;
}

#insta:hover, #insta:active, #insta:focus {
  background-color: #AFA7F9;
}

@media (min-width: 720px) {
  .con40 {
    width: 40%;
  }

  .con70 {
    width: 70%;
  }

  .topmargphone {
    margin-top: 15%;
  }
}
