@font-face {
  font-family: 'header-font';
  src: url("fonts/EncodeSansExpanded-Thin.ttf") format('truetype');
}

@font-face {
  font-family: 'body-font';
  src: url("fonts/EncodeSansExpanded-Regular.ttf") format('truetype');
}

/***
styleguide layout adapted from previous project http://www.sfu.ca/~gssekhon/iat339/Rewind-Styleguide/ done by me and Eivan Nisperos
***/

/***
 -  site wide settings - adapted from P02 rewind
***/

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'body-font', sans-serif;
  font-size: 0.9rem;
}

h1, h2, h3, h4 {
  font-family: 'header-font', sans-serif;
  letter-spacing: 0.13rem;
  margin: 0;
}

h1 {
  font-size: 1.7rem;
  letter-spacing: 0.4rem;
  margin-bottom: 1.3rem;
  box-shadow: 0 8px 6px -8px black;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  box-shadow: 0 8px 6px -8px black;
}

p {
  font-family: 'body-font', sans-serif;
  line-height: 1.6rem;
}

figcaption {
  font-family: 'body-font', sans-serif;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

img {
  width: 100%;
}

a {
  color: white;
}

figure {
  width: 100%;
  margin-bottom: 7rem;
  margin-left: 0;
  margin-right: 0;
}

code {
  display: block;
  background-color: #595959;
  border-radius: 0px;
  padding: 1rem;
  color: #e8e8e8;
  margin: 1rem 0 1rem 0;
  font-size: 0.9rem;
}

code p {
  margin: 0;
}

text {
  display: block;
}

/***
  - display structuress
***/

.inline-block-display {
  display: inline-block;
}

section, .flex-display {
  display: flex;
  flex-direction: column;
}

section {
  padding: 1rem;
  margin-bottom: 1rem;
}

.sub-section {
  background-color: #F2F2F2;
  border-radius: 0px;
  padding: 1rem;
}

/*
  two column for two elements side by side, where by one is larger than the other
*/

.col35-percent {
  width: 35%;
}

.col60-percent {
  width: 60%;
}

#cyanbg {
  background-color: #5BC0EB;
}

#yellbg {
  background-color: #FDE74C;
}

.yellcon {
  background-color: #FDE74C;
}

.bluecon {
  background-color: #5BC0EB;
}

#redbg {
  background-color: #FF3F4C;
}

.citations {
  margin-bottom: 1rem;
}

.homeicon {
  margin-top: 1rem;
  width: 3rem;
}

/***
Content Structure css
***/

.lineup-cent {
  display: flex;
  justify-content: center;
}

.botmarg {
  margin-bottom: 7rem;
}

.fontcol1 {
  color: #595959;
}

.fontcol2 {
  color: #e8e8e8;
}

.headicon {
  width: 10rem;
  border-radius: 2rem;
}

.shadblk {
  box-shadow: 0 8px 6px -4px black;
}

.shadwhi {
  box-shadow: 0 8px 6px -4px white;
}

.shadwhitxt {
  box-shadow: 0 8px 6px -8px white;
}

.botmargph {
  margin-bottom: 7rem;
}

@media (min-width: 0px) {
  /*
  navigation bar
  - menu bar position fixed to have it stay put
  - height to 100vh to let it fit the viewport screen
  - transition for growth (0 - 70% width)
  - overflow: hiden so that contents are hidden without the screen allowing users to shift the screen
  -from P02
  */

  #styleguide-menu {
    position: fixed;
    background-color: #595959;
    color: white;
    height: 100vh;
    width: 0;
    transition: 0.5s;
    overflow: hidden;
  }

  #styleguide-menu-links {
    min-width: 100vh;
    margin: 1rem;
  }

  #styleguide-menu-links a {
    margin: 0.5rem;
    text-decoration: none;
  }

  #styleguide-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;
  }

  /*
  content navigation bar
    - will remain hidden when in desktop
  */

  .mobile-icon-link {
    width: 0.8rem;
    margin-right: 1rem;
  }

  #toggle-menu-nav {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  #home-link-icon {
    font-size: 1.5rem;
    margin: 0;
  }


  /************************************
  interactive elements
  *************************************/

  /*
  in text link
  */

  .sub-button {
    color: white;
    font-family: 'body-font', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
  }

  /*
  navigation
  */

  .nav-link {
    margin-bottom: 0.5rem;
  }

  #main-nav {
    background-color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
  }

  #main-nav-bar-hidden {
    background-color: white;
    border-radius: 0 0 10px 0;
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    width: 30%;
    padding: 1rem;
  }

  #home-close-btn-group {
    flex-direction: row;
  }

  #close-nav {
    margin-left: auto;
  }

  /*
  button styles
  */

  .button-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  .button-go {
    width: 60%;
    background-color: #595959;
  }

  .button-back {
    width: 35%;
    background-color: #e8e8e8;
  }

  /*
   - text styles
  */
  form {
    width: 100%;
  }

  input {
    width: 100%;
  }

  select {
    width: 45%;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0.6rem 0 0.6rem;
    height: 2rem;
    font-size: 1rem;
    margin-right: auto;
  }

  textarea {
    width: 100%;
    margin: 1rem 0 1rem 0;
    height: 5rem;
  }

  /*
    product-listing
  */

  .product-listing {
    margin: 2rem 0 2rem 0;
    width: 100%;
  }

  .product-list-img {
    margin-bottom: 1rem;
    box-shadow: 5px 5px #F69261;
  }

  .product-price {
    margin-left: auto;
    font-size: 1.2rem;
  }

  #product-title-genre {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  #product-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 720px) {
  /*base*/
  #menu-content-grid {
    flex-direction: row;
  }

  #styleguide-menu {
    position: fixed;
    width: 30%;
  }

  #styleguide-content {
    margin-left: 30%;
  }

  #close-menu-btn {
    display: none;
  }

  /*nav*/
  .mobile-icon-link {
    display: none;
  }

  .hidden-link {
    margin: 0;
    margin-left: 1rem;
  }


  #main-nav-bar-hidden {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    width: auto;
  }

  #home-link-icon {
    margin: 0;
  }

  #close-nav {
    display: none;
  }

  /*button-styles*/
  .button-div {
    width: 50%;
  }

  /*text-boxes*/
  form {
    width: 50%;
  }

}
